:root {
  --sunk-border-width: 5px;
  --sunk-borders: var(--sunk-border-width) solid red;
  --grid-space-width: 4.5rem;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.game-container {
  display: flex;
}

.grid-unclickable {
  pointer-events: none;
}
.grid-outerContainer {
  margin: 1rem;
  padding: 2rem;
  background: black;
}
.grid-innerContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(11, var(--grid-space-width)) / repeat(11, var(--grid-space-width));
  gap: 0.5rem;
  background: lightblue;
}
.grid-space {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}
@media (hover: hover) {
  .grid-space:not([data-row='-1'], [data-col='-1']):hover {
    background: pink;
  }
}
.grid-space-occupied:not(.grid-space-secretlyOccupied) {
  font-weight: bold;
  background: rgb(88, 87, 87);
  color: white;
}
.grid-space-empty {
  color: transparent;
}
.grid-space-empty > .grid-spaceContent::after {
  content: '';
  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 1rem;
}
.grid-space-hit::after {
  content: '';
  position: absolute;
  left: 25%;
  top: 25%;
  width: calc(var(--grid-space-width) * 0.5);
  height: calc(var(--grid-space-width) * 0.5);
  background: goldenrod;
  border-radius: 5rem;
}
.grid-space-hit.grid-space-occupied::after,
.grid-space-hit.grid-space-secretlyOccupied::after {
  background: red;
}
.grid-sunkSpace-horizontalStart {
  border-left: var(--sunk-borders);
  border-top: var(--sunk-borders);
  border-bottom: var(--sunk-borders);
}
.grid-sunkSpace-horizontalMiddle {
  border-top: var(--sunk-borders);
  border-bottom: var(--sunk-borders);
}
.grid-sunkSpace-horizontalEnd {
  border-top: var(--sunk-borders);
  border-bottom: var(--sunk-borders);
  border-right: var(--sunk-borders);
}
.grid-sunkSpace-verticalStart {
  border-top: var(--sunk-borders);
  border-right: var(--sunk-borders);
  border-left: var(--sunk-borders);
}
.grid-sunkSpace-verticalMiddle {
  border-right: var(--sunk-borders);
  border-left: var(--sunk-borders);
}
.grid-sunkSpace-verticalEnd {
  border-right: var(--sunk-borders);
  border-left: var(--sunk-borders);
  border-bottom: var(--sunk-borders);
}
.grid-sunkSpace-horizontalStart::after,
.grid-sunkSpace-verticalStart::after {
  left: calc(calc(var(--grid-space-width) * 0.25) - var(--sunk-border-width));
  top: calc(calc(var(--grid-space-width) * 0.25) - var(--sunk-border-width));
}
.grid-sunkSpace-horizontalMiddle::after,
.grid-sunkSpace-horizontalEnd::after {
  top: calc(calc(var(--grid-space-width) * 0.25) - var(--sunk-border-width));
}
.grid-sunkSpace-verticalMiddle::after,
.grid-sunkSpace-verticalEnd::after {
  left: calc(calc(var(--grid-space-width) * 0.25) - var(--sunk-border-width));
}

.ui-container {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.ui-playerNames {
  width: 50rem;
  display: flex;
  justify-content: space-around;
  border: 3px solid pink;
}
.ui-name {
  width: 15rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
}
.ui-name-current {
  border: 10px solid purple;
}
.ui-nextButton {
  height: 7rem;
  width: 12rem;
}
.ui-nextButton-unclickable {
  color: grey;
  pointer-events: none;
}
.ui-resultContainer-hidden {
  visibility: hidden;
}
