:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
.game-container {
  display: flex;
}

.grid-outerContainer {
  margin: 1rem;
  padding: 2rem;
  height: 60rem;
  width: 60rem;
  background: black;
}
.grid-innerContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(11, 1fr) / repeat(11, 1fr);
  gap: 0.5rem;
  background: lightblue;
}
.grid-space {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  background: white;
}
.grid-space:not([data-row='-1'], [data-col='-1']):hover {
  background: pink;
}
.grid-space-occupied:not(.grid-space-secretlyOccupied) {
  font-weight: bold;
  background: rgb(88, 87, 87);
  color: white;
}
.grid-space-empty > .grid-spaceContent::after {
  content: '';
  position: absolute;
  left: 35%;
  top: 35%;
  width: 30%;
  height: 30%;
  background: black;
  border-radius: 1rem;
}
.grid-space-hit::after {
  content: '';
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  background: goldenrod;
  border-radius: 1rem;
}
.grid-space-hit.grid-space-occupied::after,
.grid-space-hit.grid-space-secretlyOccupied::after {
  background: red;
}
.grid-space-sunk {
  border: 3px solid red;
}
